h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 240201524-3]
        p.mb-0 Relacionar los procesos comunicativos teniendo en cuenta criterios de lógica y racionalidad.  
        





