.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                                  
                tr
                    td EAFIT (s. F.). Las preposiciones y su función. 
                    td PDF
                    td 
                        a(href="media/documentos/Las_preposiciones_función_EAFIT.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver   
                tr
                    td Gallardo & Adonay (1987). Módulo 3. Recolección de la información. 
                    td PDF
                    td 
                        a(href="media/documentos/Módulo 3_Recoleccion_ informacion _Gallardo_Moreno_1987.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver               