include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Bustamante (2009). Lógica y argumentación. De los argumentos inductivos a las álgebras de Boole.", "https://books.google.com.co/books/about/L%C3%B3gica_Y_Argumentaci%C3%B3n.html?id=aFbPtwEACAAJ&redir_esc=y")
        +referenciaItem("Campos, G. & Lule, N. (2012).  La observación, un método para el estudio de la realidad.", "https://dialnet.unirioja.es/servlet/articulo?codigo=3979972") 
        +referenciaItem("Castro, J. (2009). Diagramas de flujo.", "https://electronicsdj.files.wordpress.com/2009/09/diagramas-de-flujo.pdf") 
        +referenciaItem("Diccionario filosófico (1965). Semiótica", "http://www.filosofia.org/enc/ros/se4.html") 
        +referenciaItem("Eco, H. (2016). El hombre que lo sabía todo.", "https://hipermediaciones.com/2016/02/20/umberto-eco-el-hombre-que-sabia-todo-una-lista/") 
        +referenciaItem("Freire, P. & Faundez, A. (1985). Por una pedagogía de la pregunta.", "https://aprendizajesparalelos.files.wordpress.com/2016/08/paulo-freire-y-antonio-faudez-por-una-pedagogia-de-la-pregunta.pdf") 
        +referenciaItem("Gallardo & Moreno (1983). Serie aprender a investigar – módulo 3 recolección de información.", "https://docs.google.com/document/d/1jNDmmVS4JPzDceQribIhgQPeRsl-W0PixSt4d4otb3o/edit") 
        +referenciaItem("Ortega, E. (2002). Cómo lograr que los demás se salgan con la nuestra. Técnicas de persuasión, negociación y oratoria.", "https://books.google.com.co/books/about/Como_Lograr_Que_Los_Demas_Se_Salgan_Con.html?id=w94jGQAACAAJ&redir_esc=y") 
        +referenciaItem("Pearson (s.F). Estrategias de enseñanza - aprendizaje.", "http://web.uaemex.mx/incorporadas/docs/MATERIAL%20DE%20PLANEACION%20INCORPORADAS/SD%20Estrategias%20de%20ensenanza-aprendizaje.pdf") 
        +referenciaItem("RAE (2020). Discruso.", "https://dle.rae.es/discurso?m=form") 
        +referenciaItem("RAE (2020). Información.", "https://dle.rae.es/informaci%C3%B3n?m=form") 
        +referenciaItem("RAE (2020). Interpretar.", "https://dle.rae.es/interpretar?m=form") 
        +referenciaItem("RAE (2020). Signo.", "https://dle.rae.es/signo?m=form") 
        +referenciaItem("Real Academia de la Lengua Española (2005). Signos ortográficos.", "https://www.rae.es/dpd/signos%20ortogr%C3%A1ficos") 
        +referenciaItem("Universidad EAFIT – Centro de estudios de lectura y escritura – Celee (s.F.). Las preposiciones y su función.", "") 


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            