.container#tema_2

    .header-ecored
      h1 2. La interpretación

    .jumbotron.bg-white       
      .chapter 
        .chapter__img 
          img(src="assets/images/pages/tema_2/img_2_01.jpg", alt="", style="width:100%;")
        .chapter__body
          h2.text-center.mb-2(style="color:white;") “Lo propio de saber no es ni ver, ni demostrar sino interpretar”
          p.text-center Michael Foucault
   
      .row.justify-content-center.align-items-center.mb-5        
        .col-12.col-lg-6
          p Articulando los aportes del contenido trabajado hasta aquí con (signos, conectores y diagramas…), se hace el registro de la información, para luego poder organizarla y por tanto se #[strong interpreta y comprende], se da paso al ejercicio del discurso profesional, en ambientes laborales o de formación académica, construyendo escenarios en los que el profesional se destaca y aporta a un grupo de personas; desde el convencimiento que el aprendiz tiene total capacidad de fortalecer su habilidad discursiva, para lo cual, se dan los siguientes aportes, de manera que el discurso sea #[strong interpretado] adecuadamente.     
        .col-auto 
          img(src="assets/images/pages/tema_2/img_2_02.png", alt="", style="width:350px")

      .row.mb-3
        .col-12
          .header-ecored.mt-3#tema2_1
            h2 2.1 De la lectura al discurso        

      .row.justify-content-around.align-items-center.mb-5        
        .col-12.col-lg-10.col-xl-7.order-last.order-xl-first 
          .jumbotron(style="background-color:#F8F7F4")
            p.mb-0 Utilizar correctamente los signos de puntuación permite una adecuada escritura y lectura y, conllevan a la interpretación y argumentación de teorías propias o de otras fuentes. Teorías que se trasladan al discurso oral ante un público profesional determinado, este discurso tiene dos formas generales que pueden ser combinadas, (de acuerdo con la pertinencia) y que para este ejercicio vale discriminar, no sin antes citar lo aportado en componentes anteriores relacionados con la comunicación y la argumentación.
        .col-auto.mb-5.mb-xl-0.order-first.order-xl-last 
          img(src="assets/images/pages/tema_2/img_2_1_01.svg", alt="", style="width:350px")

      .row.justify-content-around.align-items-center.mb-5
        .col-auto.mb-4.mb-xl-0
          img(src="assets/images/pages/tema_2/img_2_1_02.svg", alt="", style="width:300px")        
        .col-12.col-lg-10.col-xl-7 
          .jumbotron(style="background-color:#F8F7F4")
            p.mb-0 No se puede desconocer que leer es un ejercicio de por sí complejo, toda vez que depende en gran medida de los hábitos de lectura y de la misma persona que lee e interpreta. Se lee, de acuerdo al interés particular (por necesidad o por obligación). La necesidad emerge del interés, del hábito, de la curiosidad… Y el “me toca leer”, surge de la obligación, del deber, del rol de la función laboral o académica y es ahí donde la lectura ya no es agradable y en donde este curso pretende aportar.
      
      .row.justify-content-around.align-items-center.mb-5        
        .col-12.col-lg-10.col-xl-7.order-last.order-xl-first 
          .jumbotron(style="background-color:#F8F7F4")
            p.mb-0 En primera instancia (y tal vez la más importante), el discurso que se planee para su ejecución debe hacerse agradable para el profesional y encontrarle sentido al mismo de acuerdo al propósito profesional que se tenga, de no ser así, será un discurso “por cumplir”, con temas no interiorizados por quien discursa, temas que no articula con su actuar profesional y por tanto, estará desconectado de su auditorio (virtual o presencial), sus aportes carecerán de claridad y contundencia y será desperdiciado el tiempo que tuvo para brillar laboral o académicamente.
        .col-auto.mb-5.mb-xl-0.order-first.order-xl-last 
          img(src="assets/images/pages/tema_2/img_2_1_03.svg", alt="", style="width:350px")

      .row.justify-content-around.align-items-center.mb-5
        .col-auto.mb-4.mb-xl-0
          img(src="assets/images/pages/tema_2/img_2_1_04.svg", alt="", style="width:300px")        
        .col-12.col-lg-10.col-xl-7 
          .jumbotron(style="background-color:#F8F7F4")
            p.mb-0 Es decir, que, si hay gusto por el tema y se le da sentido al mismo, se harán lecturas y pesquisas individuales y concretas en bibliotecas virtuales o físicas, se consultarán fuentes académicas o documentos en pdf. publicados, entre otras lecturas relacionadas con el tema de interés. Así, habrá un lector, (independiente de la formación profesional), constructor de un discurso, agradable, novedoso y entretenido.     

      .row.customBG.justify-content-center.align-items-center.mb-6(style="border-bottom: 7px solid #B2A864; padding:0 !important;")       
        .col-12.col-lg-5.order-last.order-lg-first
          p.mt-4 De cara a la necesidad de fortalecer habilidades discursivas, se dan los siguientes aportes:
        .col-auto.order-first.order-lg-last
          img(src="assets/images/pages/tema_2/img_2_1_05.png", alt="", style="width:250px")

      .row.mb-3
        .col-12
          .header-ecored.mt-3#tema2_2
            h2 2.2 Discurso con ayudas audiovisuales  

      .imgTopBar 
        .row.justify-content-end
          .col-auto(style="background-color:#FFCD3A; padding:0.5rem 1rem; margin:0 0.5rem; border-radius: 5px;") 
            a(href="media/anexos/Infografia_Discurso_Ayudas_Audiovisuales.pdf", target="_blank").imgTopBar_link 
              .row 
                .col-auto 
                  p.d-inline(style="margin-right:10px") Descargar recurso
                  img(src="assets/images/pages/icons/download.svg", alt="", style="7px")          
      .row.mb-6.justify-content-center.align-items-center
        .col-12
          img(src="assets/images/pages/tema_2/info_2_2_01.png", alt="", style="width:100%")      


      .row.justify-content-center.align-items-center.mb-3
        .col-12.col-lg
          .header-ecored.mt-3#tema2_3
            h2 2.3 Discurso leído

      .imgTopBar 
        .row.justify-content-end
          .col-auto(style="background-color:#FFCD3A; padding:0.5rem 1rem; margin:0 0.5rem; border-radius: 5px;") 
            a(href="media/anexos/Infografia_Discurso_Leido.pdf", target="_blank").imgTopBar_link 
              .row 
                .col-auto 
                  p.d-inline(style="margin-right:10px") Descargar recurso
                  img(src="assets/images/pages/icons/download.svg", alt="", style="7px")          
      .row.mb-6.justify-content-center.align-items-center
        .col-12
          img(src="assets/images/pages/tema_2/info_2_3_01.png", alt="", style="width:100%")

      .row.justify-content-center.align-items-center.mb-3
        .col-12.col-lg
          .header-ecored.mt-3#tema2_4
            h2 2.4 Uso de preposiciones

        .col-12.mb-5 
          p Siguiendo con el ejercicio de escribir un texto académico o laboral para una adecuada comprensión, es deber del profesional utilizar de manera apropiada las preposiciones a la vez que sabe cuáles son y en qué momento se utilizan. 

        .col-12.col-lg-7.mb-3 
          img(src="assets/images/pages/tema_2/info_2_4_01.svg", alt="", style="width:100%")
      
      .row.justify-content-center.mb-5 
        .col-12.col-lg-11
          .jumbotron.mb-0(style="background-color:#EAF2F5") 
            .jumbotron.mb-5(style="background-color:#3587AD; margin:-33px -33px 0 -33px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;") 
              p.text-center.mb-0(style="color:white") Del significado citado, vale decir que:
            .row              
              .col-12
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Una proposición es #[strong invariable], dado que no cambia de género.  
                .hr-divider.my-3(style="background-color:#AACBDC")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Un término nominal u oracional, quiere decir que es perteneciente o relativo a nombre y oracional porque construye una oración. 
                .hr-divider.my-3(style="background-color:#AACBDC")
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Grupo sintáctico, se refiere al grupo de palabras que combinadas expresan significados, toda vez que cada unidad está debidamente conectada.
      .row.justify-content-center.mb-3
        .col-12.col-lg-11 
          p El Centro de estudios de lectura y escritura – Celee de la Universidad EAFIT (S.f.) refiere que las proposiciones cumplen la función sintáctica (modo en que se combinan las palabras) “unir palabras o frases dentro de un enunciado. También cumplen la función semántica” (significado de las palabras) de “concretar el significado de la palabra siguiente con relación a la anterior y sirven para indicar lugar, tiempo, destino, causa, etc”. 

      .row.customBG.justify-content-center.align-items-center.mb-5(style="border-bottom: 7px solid #B2A864; padding:0 !important;")       
        .col-12.col-lg-5.order-last.order-lg-first
          p.mt-5 Las preposiciones, también se utilizan para conectar frases o palabras en mapas conceptuales, por lo que su importancia en modo de utilización es valiosa. 
        .col-auto.order-first.order-lg-last
          img(src="assets/images/pages/tema_2/img_2_4_02.png", alt="", style="width:250px")

      .row.justify-content-center.align-items-center.mb-5 
        .col-12.mb-5 
          p Siguiendo con la Universidad EAFIT construyó el siguiente cuadro, en el que se refieren las funciones semánticas de proposiciones más utilizadas y se dan algunos ejemplos.
        .col-12.col-lg-10 
          img(src="assets/images/pages/tema_2/tabla_2_4_01.svg", alt="", style="width:100%;")
          p.text-center.my-4 #[i Tabla: Las proporciones y sus funciones EAFIT (s.f.)]

      .customBanner.mb-6(style="margin: 0 -35px; padding: 2rem; background-color:#E6F5FF;")
        .row.justify-content-center.align-items-center
          .col-12.col-lg-6.mb-5.mb-lg-0
            p.mb-0 Con relación al uso de los conectores lógicos se debe hacer la revisión minuciosa del material que está relacionado en la siguiente tabla que se deja descargable para que la pueda ver y llevar consigo, es importante que la use en cada una de las oportunidades que la requiera.
          .col-auto    
            a(href="media/anexos/conectores_logicos.pdf",target="_blank",style="color:#12263F")        
              .jumbotron.mb-0.p-4(style="background-color:white;")
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/pages/icons/icon_media_video.svg", alt="", style="width:55px")
                  .col
                    p.mb-0 #[strong Recurso.] Guía de conectores lógicos

      .row.justify-content-center.align-items-center.mb-3
        .col-12.col-lg
          .header-ecored.mt-3#tema2_5
            h2 2.5 Técnicas de registro de informaciónTécnicas de registro de información

        .col-12.mb-5 
          p Registrar información es un proceso que deriva de la comunicación del ser humano con su entorno y su inquietud, expectativa e incertidumbre frente a lo desconocido y el interés por conocer, en los diferentes contextos de su vida. Enfocando el contexto laboral o académico, el registro de la información se configura como la matriz del conocimiento y la experiencia que perfila al profesional en su técnica, por lo que el registro de información se convierte en un ejercicio fundamental. 
          p Parafraseando a Gallardo y Moreno (1983), hay dos posibilidades de tener acceso a la información:

      .row.justify-content-center.align-items-top.mt-6.mb-6
        .col-12.col-lg-5.mb-6.mb-lg-0
          .verticalCard 
            .verticalCard__title  
              h3 De manera inmediata que también se podría llamar información primaria:
            .verticalCard__body              
              p A través de los sentidos y el contacto con el ambiente, el cual emite información a través de los elementos que lo conforman. El profesional recoge información a través de un contacto directo con el objeto de estudio; persona (as), medio, elemento etc. 
        .col-12.col-lg-5.mb-6.mb-lg-0
          .verticalCard 
            .verticalCard__title  
              h3 A través de la experiencia ajena o información secundaria:
            .verticalCard__body              
              p Se constituye a su vez en fuente de información. El profesional la obtiene a partir de investigaciones realizadas por otros profesionales o investigadores con otros propósitos y que es registrada en libros, fotos, material fílmico, artículos, ensayos, etc. 


      .row.mt-5 
        .col-12       
          .wrapper(style="padding:2rem; border-top: 3px solid #B2A864; border-bottom: 3px solid #B2A864; background-color: #EBF2F5;") 
            .row  
              .col-12 
                p.mb-0 Con base en las precisiones anteriores, el profesional parte del trabajo en equipo, de su ética, su rol y compromiso para que la forma de reunir la información (directa o indirecta) sea consecuente con la necesidad generada según los procesos laborales o académicos.

            .hr-divider.my-4(style="background-color:#AACBDB;")

            .row.justify-content-center.align-items-center
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_5_01.svg", alt="", style="width:90px")
              .col-12.col-md
                p.mb-2 #[strong Técnicas para registrar información]
                p.mb-0 Toda técnica a implementar debe tener un propósito claro, planeado y argumentado, de manera que no se pierda el foco de la acción.  

            .hr-divider.my-4(style="background-color:#AACBDB;")

            .row.justify-content-center.align-items-top
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_5_02.svg", alt="", style="width:90px")
              .col-12.col-md
                p.mb-2 #[strong Registro e información directa]       
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 #[strong Entrevista estructurada o semiestructurada:] cualquiera que sea la metodología debe llevar un formato de grabación audio y/o visual o escrito.     
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 #[strong Encuestas:] implementación de formato estructurado de preguntas abiertas o cerradas, a fin de lograr información de un grupo determinado.
                    p.mb-0 Tanto en la entrevista como en la encuesta, es supremamente importante saber formular las preguntas, las cuales deben ir claramente articuladas con el objeto de la técnica a implementar.  
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 #[strong Observación:] va implícito en la entrevista, el observador se involucra en el contexto observado o se excluye del mismo, esto depende del objeto de la observación y del rol que desempeñe. El diario de campo es una herramienta común para el registro de información, en esta técnica.   
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 #[strong Panel de expertos o técnica Delphi:] igual que las técnicas mencionadas, es necesario tener claridad de las preguntas apropiadas y articuladas al tema estudiado, además de tener conocimiento básico del tema y dinamizar el panel. 

            .hr-divider.my-4(style="background-color:#AACBDB;")

            .row.justify-content-center.align-items-top
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_2/icon_2_5_03.svg", alt="", style="width:90px")
              .col-12.col-md
                p.mb-2 #[strong Registro de información indirecta]       
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 #[strong Fichas bibliográficas o de contenido específico:] en el caso de consulta de libros, ensayos, artículos, entre otros documentos, se opta por utilizar fichas que ordenan la información. Estas se enumeran y se citan las fuentes, de manera que puedan ser consultadas en cualquier momento.
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Mapas, gráficos, esquemas, flujogramas o diagramas, son técnicas ya citadas en tema uno y que aplican para el registro de información indirecta.
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 El tomar nota, subrayar o resaltar y hacer resúmenes, son técnicas apropiadas para registrar información relevante, pertinente y oportuna.         