.container#tema_1

    .header-ecored
      h1 1. Semiótica y semiología

    .jumbotron.bg-white       
      .chapter 
        .chapter__img 
          img(src="assets/images/pages/tema_1/img_1_01.jpg", alt="", style="width:100%;")
        .chapter__body
          p Para el desarrollo de este componente es necesario comprender el significado de semiótica que según el diccionario filosófico (1965) es la “disciplina que se ocupa del estudio comparativo de los sistemas de signos (signo), desde los sistemas de señalización más sencillos hasta los lenguajes naturales y los lenguajes formalizados de la ciencia”.
      .row.mb-6 
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8SfRsYAHaWc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Los signos en la actualidad y su aplicabilidad: puntuación, interrogación y admiración

      .row.justify-content-center.align-items-center.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/img_1_1_01.jpg", alt="", style="width:450px")
        .col-12.col-lg 
          p En articulación total con este curso, es fundamental recordar la importancia y aplicabilidad de los signos ortográficos, que para la Real Academia de la Lengua (RAE, 2005) son “todas aquellas marcas gráficas que, no siendo números ni letras, aparecen en los textos escritos con el fin de contribuir a su correcta lectura e interpretación. Cada uno de ellos tiene una función propia y unos usos establecidos por convención”. 
          p En este sentido, un texto escrito con los signos ortográficos utilizados de manera precisa, conllevan a la interpretación adecuada, lo que influye de manera directa y significativa no solo en la escritura, sino también en la lectura. 

      .customBanner.mb-5(style="margin: 0 -35px; padding: 2rem; background-color:#E6F5FF;")
        .row 
          .col-12
            .jumbotron.mb-0(style="background-color:#3587AD;")
              h3.text-center.mb-0(style="color:white;") #[strong Siguiendo con la RAE, hay signos de puntuación y signos auxiliares.]
        .row.justify-content-center.align-items-center.mb-3 
          .col-auto
            img(src="assets/images/pages/tema_1/img_1_1_02.png", alt="", style="width:350px")
          .col-12.col-lg-6 
            p.mb-2 #[strong Signos de puntuación]
            p.mb-5 Sus funciones son marcar las pausas y la entonación con que deben leerse los enunciados, organizar el discurso y sus diferentes elementos para facilitar su comprensión, evitar posibles ambigüedades en textos que, sin su empleo, podrían tener interpretaciones diferentes, y señalar el carácter especial de determinados fragmentos de texto – citas, incisos, intervenciones de distintos interlocutores en un diálogo etc. LA RAE, refiere como signos de puntuación los siguientes: coma, comillas, corchete, dos puntos, interrogación y exclamación, paréntesis, punto, puntos suspensivos, punto y coma y raya.
            p.mb-2 #[strong Signos auxiliares]
            p “Sus funciones son muy variadas”, algunos de estos son: apóstrofo, asterisco, barra, diéresis, guión y tilde.

      .row.justify-content-center.mb-5
        .col-12.mb-5
          .accordion#accordionExample
            .card
              .card-header#heading1
                h2.mb-0
                  button.btn.btn-link.pl-0(type="button", data-toggle="collapse",data-target="#collapse1", aria-expanded="true", aria-controls="collapse1")
                    h4.mb-0.collapsable-title.d-flex.align-items-center El punto
              .collapse.show#collapse1(aria-labelledby="heading1", data-parent="#accordionExample")
                .card-body
                  .row.align-items-top 
                    .col-auto 
                      img(src="assets/images/pages/tema_1/icon_1_1_01.svg", alt="", style="width:90px;")
                    .col
                      p.mb-3 Se utiliza al terminar una oración que no sea interrogativa, de admiración o exclamación. La primera palabra después de un punto empieza con mayúscula. El punto se utiliza en tres momentos de un escrito:
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 #[strong Punto seguido:] separa dos frases que se complementan en un mismo párrafo, es decir, hablan del mismo tema.
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 #[strong Punto aparte:] representa el párrafo que ha terminado, el texto sigue con el inicio de un nuevo párrafo. 
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 #[strong Punto final:] como lo menciona indica el final de escrito.

            .card
              .card-header#heading2
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse2", aria-expanded="false", aria-controls="collapse2")
                    h4.mb-0.collapsable-title.d-flex.align-items-center La coma 
              .collapse#collapse2(aria-labelledby="heading2", data-parent="#accordionExample")
                .card-body
                  .row.align-items-top 
                    .col-auto 
                      img(src="assets/images/pages/tema_1/icon_1_1_02.svg", alt="", style="width:90px;")
                    .col
                      p.mb-3 Es uno de los signos de puntuación más utilizado a fin de dar sentido a una oración, a la vez que separa elementos o apreciaciones y permite dar pausas en milésimas de segundo al momento de leer.
                      p.mb-3 Como se evidencia en la siguiente frase, la coma cambia totalmente el sentido a la frase:
                      .jumbotron.mb-3(style="background-color:white;")
                        p.mb-3 #[strong ¿Quieres salir a caminar?]
                        p.mb-3 #[strong a)] No debo caminar. La oración es una negación ante la invitación a caminar.
                        p #[strong b)] No, debo caminar. La oración refiere que la persona va a caminar.
                      p.mb-3 Utilización de la coma:
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Separa elementos, personas o animales de una oración. 
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Aclara o explica una apreciación.
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Separa el nombre del sujeto del que se escribe.
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Se utiliza después de un conector, es decir, por ejemplo, dicho lo anterior.

            .card
              .card-header#heading3
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse3", aria-expanded="false", aria-controls="collapse3")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Punto y coma 
              .collapse#collapse3(aria-labelledby="heading3", data-parent="#accordionExample")
                .card-body
                  .row.align-items-top 
                    .col-auto 
                      img(src="assets/images/pages/tema_1/icon_1_1_03.svg", alt="", style="width:90px;")
                    .col
                      p.mb-3 Cuando se lee, se hace una pausa, mayor que la de la coma.
                      .list.mb-4
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-3 Se utiliza cuando la oración es larga y ya se ha utilizado la coma.   
                          .jumbotron.mb-0(style="background-color:white;")
                            p.mb-3 #[strong Ejemplos]  
                            p.mb-3 #[strong a)] Salimos de formación el domingo a las 6:00 de la tarde, tomamos un taxi que nos acercará a la estación de Transmilenio; pero la estación estaba cerrada.    
                            p #[strong b)] En inglés, caballo se escribe horse; en francés, caballo; en alemán Pferd y en portugués horseman.  
                      .list.mb-4
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-3 Se usa el punto y coma, cuando los elementos de una oración son de diferentes clases.
                          .jumbotron.mb-0(style="background-color:white;")
                            p.mb-3 #[strong Ejemplo]  
                            p.mb-3 En el SENA Distrito Capital hay gran cantidad de programas de formación, en diversas áreas de conocimiento, donde los aprendices estudian: producción; algunos, química; otros, seguridad y salud en el trabajo, muchos, enfermería; otros, finanzas; entre otros. 
                      .list
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-3 Se utiliza para separar dos frases diferentes, pero que se complementan.
                          .jumbotron.mb-0(style="background-color:white;")
                            p.mb-3 #[strong Ejemplo]  
                            p.mb-3 Hoy es día de la independencia; esta tarde será el desfile.
                                    
            .card
              .card-header#heading4
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse4", aria-expanded="false", aria-controls="collapse4")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Los dos puntos
              .collapse#collapse4(aria-labelledby="heading4", data-parent="#accordionExample")
                .card-body
                  .row.align-items-top 
                    .col-auto 
                      img(src="assets/images/pages/tema_1/icon_1_1_04.svg", alt="", style="width:90px;")
                    .col
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Se utilizan después del saludo de una carta, o en un texto. 
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Son apropiados antes de empezar una lista de elementos, características o apreciaciones.
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 También son útiles antes de mencionar lo que dice una persona.
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Después de dos puntos se escribe minúscula, aunque hay algunas excepciones: después de un encabezado o saludo en un escrito, o si la palabra que sigue es nombre propio.  

            .card
              .card-header#heading5
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse5", aria-expanded="false", aria-controls="collapse5")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Puntos suspensivos
              .collapse#collapse5(aria-labelledby="heading5", data-parent="#accordionExample")
                .card-body
                  .row.align-items-top 
                    .col-auto 
                      img(src="assets/images/pages/tema_1/icon_1_1_05.svg", alt="", style="width:90px;")
                    .col
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-0 Se utilizan al final de una enumeración, cuando se pretende indicar que hay más elementos que hacen parte de la misma y que por extensión, no se mencionan, podría decirse que en este caso sustituye la palabra etcétera.
                      .list.mb-3
                        .list__item
                          .list__item__icon
                            img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                        .list__txt
                          p.mb-4 Los puntos suspensivos también se utilizan para interrumpir una oración y expresar sorpresa o duda.
                          .jumbotron.mb-0(style="background-color:white;")
                            p.mb-3 #[strong Ejemplo]  
                            p.mb-3 El perro ladró… y nos asustó a todos.

            .card
              .card-header#heading6
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse6", aria-expanded="false", aria-controls="collapse6")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Signos de interrogación y admiración
              .collapse#collapse6(aria-labelledby="heading6", data-parent="#accordionExample")
                .card-body
                  .row.align-items-top 
                    .col-auto 
                      img(src="assets/images/pages/tema_1/icon_1_1_06.svg", alt="", style="width:90px;")
                    .col
                      p.mb-4 Los signos de interrogación: como su nombre lo indica, se utilizan al hacer una pregunta. Se abre la pregunta con el signo (¿) y se cierra con el signo (?).
                      p Los signos de admiración o exclamación: se utilizan cuando el escritor estima resaltar una frase, según el contexto en el que se enuncie, por lo general expresan emociones. Se inicia la admiración o exclamación con el signo (¡) y se cierra con (!). 

      .row
        .col-12
          .header-ecored.mt-3#tema1_2
            h2 1.2 Conectores lógicos como elementos de cohesión  

      .row.justify-content-center.align-items-center.mb-6
        .col-auto.mb-4.mb-lg-0 
          img(src="assets/images/pages/tema_1/img_1_2_01.png", alt="", style="width:450px")
        .col.col-lg          
          p En escritura, los conectores son herramientas que permiten unir de manera coherente y lógica partes de una frase o párrafos de un mismo escrito. Su uso es necesario, para articular ideas y crear textos coherentes y comprensibles. 
          p #[strong Tipos de conectores y sus funciones:] 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-2 #[strong Porque, ya que, debido a:] 
              p Precisa la causa de una situación.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-2 #[strong Por eso, así que, por lo tanto:] 
              p Refiere la consecuencia de una situación.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-2 #[strong Y, e, ni, tampoco:] 
              p Une elementos similares.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-2 #[strong O, U:] 
              p Significa elección entre dos elementos, se utiliza dependiendo la palabra que sigue.        


      .row.mb-3
        .col-12
          .header-ecored.mt-3#tema1_3
            h2 1.3 Diagramas, mapas, gráficos, esquemas y flujogramas
        .col-12 
          p La diversidad de herramientas para la organización de información es amplia, en este aparte se estima necesario diferenciar las metodologías que posibilitan estructurar la información para su comprensión, análisis y socialización; de esta manera debe ser utilizada de acuerdo a la necesidad del aprendiz. Este tipo de herramientas se pueden elaborar utilizando programas tecnológicos que se adecuan a la expectativa y utilidad que se estime o de manera análoga manual, a continuación, describimos los más utilizados para este uso, se hace salvedad que la referencia de algunos de estos conceptos son parafraseados de Castro (2009):

      .row 
        .col-12       
          .wrapper(style="padding:2rem; border-top: 3px solid #B2A864; border-bottom: 3px solid #B2A864; background-color: #EBF2F5;") 
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_1/icon_1_3_01.svg", alt="", style="width:90px")
              .col-12.col-md
                p.mb-2 #[strong Diagrama]
                p.mb-0 Según Pearson los diagramas son representaciones esquemáticas que relacionan palabras o frases dentro de un proceso informativo. Esto induce al estudiante a organizar esta información no solo en un documento, sino también mentalmente al identificar las ideas principales y subordinadas, según orden lógico. 
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_1/icon_1_3_02.svg", alt="", style="width:90px")
              .col-12.col-md
                p.mb-2 #[strong Mapas cognitivos]
                p.mb-0 Siguiendo a Pearson (S.F) “Los mapas cognitivos son organizadores gráficos avanzados que permiten la representación de una serie de ideas con conceptos y temas con un significado y sus relaciones, enmarcando todo ello en un esquema o diagrama.
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0  
                img(src="assets/images/pages/tema_1/icon_1_3_03.svg", alt="", style="width:90px")
              .col-12.col-md
                p.mb-2 #[strong Gráficos]
                p.mb-0 Teniendo en cuenta nuestro estudio en este componente, se retoma el concepto de gráfico según la RAE “Representación de datos numéricos por medio de una o varias líneas que hacen visible la relación que esos datos guardan entre sí”.
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0   
                img(src="assets/images/pages/tema_1/icon_1_3_04.svg", alt="", style="width:90px")
              .col-12.col-md
                p.mb-2 #[strong Esquema]
                p.mb-0 Es un término amplio que se utiliza en procesos de enseñanza, en los que el estudiante utiliza de manera abierta y combina elementos de mapas y diagramas para relacionar conceptos y resaltar de estas ideas principales a partir de cuadros, conectores, círculos o corchetes. 
            .hr-divider.my-4(style="background-color:#AACBDB;")
            .row.justify-content-center.align-items-center  
              .col-auto.mb-5.mb-lg-0   
                img(src="assets/images/pages/tema_1/icon_1_3_05.svg", alt="", style="width:90px")
              .col-12.col-md
                p.mb-2 #[strong Flujograma]
                p.mb-0 Se puede entender como una forma de presentación que gráficamente da unas secuencias o evidencia un proceso, en esta representación se puede hacer uso de símbolos para facilitar el entendimiento y el análisis de la información que se recomienda organizar a manera de datos, se usa por lo general para mostrar oportunidades de mejora o resúmenes de información de una forma más cómoda de revisar y leer. 



      